In [6]:
import pandas as pd

# Path to the CSV file
file_path = r'C:\Users\omniq\Documents\GitHub\TIL6022-LabAssignments\Flytax-Project-Group24\CO2-effect\Data\fromNETHERLANDStin00190__custom_13279142_linear.csv'

# Load the CSV file
df = pd.read_csv(file_path)

# Create a dataframe with 'c_dest' (destination), 'TIME_PERIOD' (year), and 'OBS_VALUE' (second last column)
filtered_df = df[['c_dest', 'TIME_PERIOD', 'OBS_VALUE']]

# Group by 'TIME_PERIOD' and sum the 'OBS_VALUE' for each year
grouped_sum_df = filtered_df.groupby('TIME_PERIOD').agg({'OBS_VALUE': 'sum'}).reset_index()

# Display the total values summed by year
print("Summed OBS_VALUE per year:")
print(grouped_sum_df)

# Display the results per year with original data
grouped_df = filtered_df.groupby('TIME_PERIOD')

for year, data in grouped_df:
    print(f"\nYear: {year}")
    print(data)

Summed OBS_VALUE per year:
    TIME_PERIOD   OBS_VALUE
0          2012  43875186.0
1          2013  41006937.0
2          2014  39805009.0
3          2015  39291955.0
4          2016  40260940.0
5          2017  42079174.0
6          2018  41488393.0
7          2019  43155539.0
8          2020  27164035.0
9          2021  41862064.0
10         2022  42191073.0

Year: 2012
    c_dest  TIME_PERIOD   OBS_VALUE
0       AT         2012   1113836.0
11      BE         2012   1604664.0
22      BG         2012         NaN
33      CH         2012    253622.0
44      CY         2012         NaN
55      CZ         2012    152549.0
66      DE         2012   3369044.0
77      DK         2012    172906.0
88      EE         2012         NaN
99      EL         2012    625788.0
110     ES         2012   1713508.0
121     FI         2012         NaN
132     FR         2012   2182762.0
143     HR         2012    158417.0
154     HU         2012    155897.0
165     IE         2012     69541.0
176     IS         2012         NaN
187     IT         2012    925596.0
198     LT         2012         NaN
208     LU         2012    126146.0
219     LV         2012         NaN
230     MT         2012         NaN
241     NL         2012  28639911.0
252     NO         2012    202197.0
263     PL         2012    122611.0
274     PT         2012    416318.0
285     RO         2012         NaN
296     RU         2012         NaN
307     SE         2012    166774.0
318     SI         2012         NaN
329     SK         2012         NaN
340     TR         2012    818766.0
351     UA         2012         NaN
362     UK         2012    884333.0

Year: 2013
    c_dest  TIME_PERIOD   OBS_VALUE
1       AT         2013   1010393.0
12      BE         2013   1554698.0
23      BG         2013         NaN
34      CH         2013    260115.0
45      CY         2013     46904.0
56      CZ         2013    227532.0
67      DE         2013   3094892.0
78      DK         2013    195241.0
89      EE         2013         NaN
100     EL         2013    542730.0
111     ES         2013   1768104.0
122     FI         2013         NaN
133     FR         2013   2265138.0
144     HR         2013    141018.0
155     HU         2013    117194.0
166     IE         2013     83721.0
177     IS         2013         NaN
188     IT         2013    919520.0
199     LT         2013         NaN
209     LU         2013    160467.0
220     LV         2013         NaN
231     MT         2013     59544.0
242     NL         2013  25839912.0
253     NO         2013    168090.0
264     PL         2013    110308.0
275     PT         2013    423374.0
286     RO         2013         NaN
297     RU         2013     52972.0
308     SE         2013    141891.0
319     SI         2013         NaN
330     SK         2013         NaN
341     TR         2013    838814.0
352     UA         2013         NaN
363     UK         2013    984365.0

Year: 2014
    c_dest  TIME_PERIOD   OBS_VALUE
2       AT         2014   1000454.0
13      BE         2014   1358391.0
24      BG         2014         NaN
35      CH         2014    294839.0
46      CY         2014         NaN
57      CZ         2014    153492.0
68      DE         2014   3368552.0
79      DK         2014    138575.0
90      EE         2014         NaN
101     EL         2014    677161.0
112     ES         2014   1827391.0
123     FI         2014         NaN
134     FR         2014   2137023.0
145     HR         2014    192193.0
156     HU         2014    135661.0
167     IE         2014     75692.0
178     IS         2014         NaN
189     IT         2014    941121.0
200     LT         2014         NaN
210     LU         2014    143467.0
221     LV         2014         NaN
232     MT         2014         NaN
243     NL         2014  24777935.0
254     NO         2014    123449.0
265     PL         2014    115995.0
276     PT         2014    438600.0
287     RO         2014         NaN
298     RU         2014     60693.0
309     SE         2014    190217.0
320     SI         2014         NaN
331     SK         2014         NaN
342     TR         2014    690235.0
353     UA         2014         NaN
364     UK         2014    963873.0

Year: 2015
    c_dest  TIME_PERIOD   OBS_VALUE
3       AT         2015    967966.0
14      BE         2015   1450791.0
25      BG         2015         NaN
36      CH         2015    222230.0
47      CY         2015         NaN
58      CZ         2015    182405.0
69      DE         2015   3291408.0
80      DK         2015    150540.0
91      EE         2015         NaN
102     EL         2015    625227.0
113     ES         2015   1841291.0
124     FI         2015         NaN
135     FR         2015   2159056.0
146     HR         2015    175650.0
157     HU         2015    105923.0
168     IE         2015    115949.0
179     IS         2015     56577.0
190     IT         2015   1000673.0
201     LT         2015         NaN
211     LU         2015    149657.0
222     LV         2015         NaN
233     MT         2015     49934.0
244     NL         2015  24156207.0
255     NO         2015    136000.0
266     PL         2015    176643.0
277     PT         2015    468916.0
288     RO         2015     44778.0
299     RU         2015         NaN
310     SE         2015    200057.0
321     SI         2015         NaN
332     SK         2015         NaN
343     TR         2015    677441.0
354     UA         2015         NaN
365     UK         2015    886636.0

Year: 2016
    c_dest  TIME_PERIOD   OBS_VALUE
4       AT         2016   1024806.0
15      BE         2016   1293229.0
26      BG         2016         NaN
37      CH         2016    280471.0
48      CY         2016         NaN
59      CZ         2016    218180.0
70      DE         2016   3501207.0
81      DK         2016    214245.0
92      EE         2016         NaN
103     EL         2016    525722.0
114     ES         2016   2163807.0
125     FI         2016         NaN
136     FR         2016   2232914.0
147     HR         2016    139726.0
158     HU         2016    180226.0
169     IE         2016    125223.0
180     IS         2016         NaN
191     IT         2016   1178151.0
202     LT         2016         NaN
212     LU         2016    169200.0
223     LV         2016         NaN
234     MT         2016     65842.0
245     NL         2016  24505045.0
256     NO         2016    158766.0
267     PL         2016    146191.0
278     PT         2016    546787.0
289     RO         2016         NaN
300     RU         2016         NaN
311     SE         2016    148062.0
322     SI         2016         NaN
333     SK         2016         NaN
344     TR         2016    448973.0
355     UA         2016         NaN
366     UK         2016    994167.0

Year: 2017
    c_dest  TIME_PERIOD   OBS_VALUE
5       AT         2017   1051394.0
16      BE         2017   1652892.0
27      BG         2017     69018.0
38      CH         2017    275299.0
49      CY         2017     45645.0
60      CZ         2017    209525.0
71      DE         2017   3831289.0
82      DK         2017    207515.0
93      EE         2017         NaN
104     EL         2017    729056.0
115     ES         2017   2468237.0
126     FI         2017     36175.0
137     FR         2017   2321671.0
148     HR         2017    190723.0
159     HU         2017    190371.0
170     IE         2017    146208.0
181     IS         2017     74494.0
192     IT         2017   1298040.0
203     LT         2017         NaN
213     LU         2017    134217.0
224     LV         2017         NaN
235     MT         2017     44397.0
246     NL         2017  24289009.0
257     NO         2017    172033.0
268     PL         2017    178935.0
279     PT         2017    653371.0
290     RO         2017     76150.0
301     RU         2017         NaN
312     SE         2017    197333.0
323     SI         2017     40361.0
334     SK         2017         NaN
345     TR         2017    370742.0
356     UA         2017         NaN
367     UK         2017   1125074.0

Year: 2018
    c_dest  TIME_PERIOD   OBS_VALUE
6       AT         2018   1074031.0
17      BE         2018   1751644.0
28      BG         2018     78490.0
39      CH         2018    252518.0
50      CY         2018     63908.0
61      CZ         2018    235513.0
72      DE         2018   3633607.0
83      DK         2018    245027.0
94      EE         2018         NaN
105     EL         2018    737930.0
116     ES         2018   2393438.0
127     FI         2018     43293.0
138     FR         2018   2266079.0
149     HR         2018    229744.0
160     HU         2018    212242.0
171     IE         2018    119192.0
182     IS         2018     56616.0
193     IT         2018   1320244.0
204     LT         2018         NaN
214     LU         2018    205266.0
225     LV         2018         NaN
236     MT         2018     70679.0
247     NL         2018  23455768.0
258     NO         2018    182719.0
269     PL         2018    169989.0
280     PT         2018    565800.0
291     RO         2018     67754.0
302     RU         2018     75941.0
313     SE         2018    220563.0
324     SI         2018         NaN
335     SK         2018         NaN
346     TR         2018    526943.0
357     UA         2018         NaN
368     UK         2018   1233455.0

Year: 2019
    c_dest  TIME_PERIOD   OBS_VALUE
7       AT         2019   1153176.0
18      BE         2019   2091200.0
29      BG         2019     79269.0
40      CH         2019    234351.0
51      CY         2019     47499.0
62      CZ         2019    291255.0
73      DE         2019   3826634.0
84      DK         2019    243779.0
95      EE         2019         NaN
106     EL         2019    856995.0
117     ES         2019   2260389.0
128     FI         2019     77764.0
139     FR         2019   2309906.0
150     HR         2019    267659.0
161     HU         2019    120632.0
172     IE         2019    107069.0
183     IS         2019     44328.0
194     IT         2019   1208350.0
205     LT         2019         NaN
215     LU         2019    165114.0
226     LV         2019         NaN
237     MT         2019         NaN
248     NL         2019  24476490.0
259     NO         2019    209748.0
270     PL         2019    304479.0
281     PT         2019    554734.0
292     RO         2019     79288.0
303     RU         2019     76186.0
314     SE         2019    186415.0
325     SI         2019     43214.0
336     SK         2019         NaN
347     TR         2019    616443.0
358     UA         2019         NaN
369     UK         2019   1223173.0

Year: 2020
    c_dest  TIME_PERIOD   OBS_VALUE
8       AT         2020    767807.0
19      BE         2020    748635.0
30      BG         2020         NaN
41      CH         2020    147071.0
52      CY         2020         NaN
63      CZ         2020     66968.0
74      DE         2020   1803528.0
85      DK         2020     74339.0
96      EE         2020         NaN
107     EL         2020    171668.0
118     ES         2020    563720.0
129     FI         2020     31041.0
140     FR         2020    933825.0
151     HR         2020         NaN
162     HU         2020         NaN
173     IE         2020         NaN
184     IS         2020         NaN
195     IT         2020    333929.0
216     LU         2020    103024.0
227     LV         2020         NaN
238     MT         2020         NaN
249     NL         2020  20773689.0
260     NO         2020     47667.0
271     PL         2020     61080.0
282     PT         2020    230604.0
293     RO         2020         NaN
304     RU         2020         NaN
315     SE         2020     60245.0
326     SI         2020         NaN
337     SK         2020         NaN
348     TR         2020         NaN
359     UA         2020         NaN
370     UK         2020    245195.0

Year: 2021
    c_dest  TIME_PERIOD   OBS_VALUE
9       AT         2021    584015.0
20      BE         2021   1315334.0
31      BG         2021         NaN
42      CH         2021    251802.0
53      CY         2021     30021.0
64      CZ         2021     69661.0
75      DE         2021   1977364.0
86      DK         2021    167590.0
97      EE         2021         NaN
108     EL         2021    649297.0
119     ES         2021   1173075.0
130     FI         2021         NaN
141     FR         2021   2090135.0
152     HR         2021    112965.0
163     HU         2021     91094.0
174     IE         2021     62255.0
185     IS         2021     36568.0
196     IT         2021    993555.0
206     LT         2021         NaN
217     LU         2021    133648.0
228     LV         2021         NaN
239     MT         2021         NaN
250     NL         2021  31080303.0
261     NO         2021     60469.0
272     PL         2021     91130.0
283     PT         2021    324816.0
294     RO         2021     60222.0
305     RU         2021         NaN
316     SE         2021    156376.0
327     SI         2021     35529.0
338     SK         2021         NaN
349     TR         2021    113900.0
360     UA         2021         NaN
371     UK         2021    200940.0

Year: 2022
    c_dest  TIME_PERIOD   OBS_VALUE
10      AT         2022   1357259.0
21      BE         2022   2340634.0
32      BG         2022     68380.0
43      CH         2022    478398.0
54      CY         2022     43152.0
65      CZ         2022    282784.0
76      DE         2022   3566449.0
87      DK         2022    327702.0
98      EE         2022         NaN
109     EL         2022    834280.0
120     ES         2022   2460252.0
131     FI         2022     74949.0
142     FR         2022   3250280.0
153     HR         2022    288739.0
164     HU         2022    132997.0
175     IE         2022    149974.0
186     IS         2022    115757.0
197     IT         2022   1639017.0
207     LT         2022         NaN
218     LU         2022    215173.0
229     LV         2022         NaN
240     MT         2022     36549.0
251     NL         2022  21489855.0
262     NO         2022    321745.0
273     PL         2022    181039.0
284     PT         2022    605943.0
295     RO         2022     62330.0
306     RU         2022         NaN
317     SE         2022    225941.0
328     SI         2022     74887.0
339     SK         2022         NaN
350     TR         2022    422706.0
361     UA         2022         NaN
372     UK         2022   1143902.0

In [5]:
import pandas as pd

# Path to the CSV file
file_path = r'C:\Users\omniq\Documents\GitHub\TIL6022-LabAssignments\Flytax-Project-Group24\CO2-effect\Data\toNETHERLANDStin00190__custom_13278956_linear.csv'

# Load the CSV file
df_to_netherlands = pd.read_csv(file_path)

# Create a dataframe with 'geo', 'TIME_PERIOD', and 'OBS_VALUE'
filtered_df_to_netherlands = df_to_netherlands[['geo', 'TIME_PERIOD', 'OBS_VALUE']]

# Group by 'TIME_PERIOD' to sum the 'OBS_VALUE' for each year
grouped_sum_df = filtered_df_to_netherlands.groupby('TIME_PERIOD').agg({'OBS_VALUE': 'sum'}).reset_index()

# Display the total values summed by year
print("Summed OBS_VALUE per year:")
print(grouped_sum_df)

# Optionally, if you want to display the original grouped data per year as well:
grouped_df_to_netherlands = filtered_df_to_netherlands.groupby('TIME_PERIOD')

for year, data in grouped_df_to_netherlands:
    print(f"\nYear: {year}")
    print(data)

Summed OBS_VALUE per year:
    TIME_PERIOD    OBS_VALUE
0          2012  108588270.0
1          2013  104317627.0
2          2014   98265242.0
3          2015   96565590.0
4          2016  105786085.0
5          2017  102971643.0
6          2018  106618542.0
7          2019  110170716.0
8          2020   78944961.0
9          2021  108303781.0
10         2022   93273596.0

Year: 2012
           geo  TIME_PERIOD   OBS_VALUE
0           AT         2012    111291.0
11          BE         2012    874786.0
22          BG         2012         NaN
29          CH         2012    181744.0
40          CY         2012      9403.0
51          CZ         2012         NaN
62          DE         2012   4063774.0
73          DK         2012    143266.0
83        EA20         2012  35193419.0
94          EE         2012         NaN
105         EL         2012         NaN
116         ES         2012    292217.0
127  EU27_2020         2012  35860425.0
138         FI         2012    118864.0
149         FR         2012    583843.0
160         HR         2012         NaN
171         HU         2012    101939.0
182         IE         2012    107102.0
193         IT         2012    212342.0
204         LT         2012      9470.0
215         LU         2012     53962.0
226         LV         2012         NaN
240         MT         2012      7126.0
251         NL         2012  28639911.0
269         PL         2012    288641.0
280         PT         2012         NaN
291         RO         2012         NaN
311         SI         2012         NaN
321         SK         2012         NaN
329         UK         2012   1734745.0

Year: 2013
           geo  TIME_PERIOD   OBS_VALUE
1           AT         2013    152972.0
12          BE         2013    843064.0
30          CH         2013    191532.0
41          CY         2013         NaN
52          CZ         2013         NaN
63          DE         2013   5294242.0
74          DK         2013    121793.0
84        EA20         2013  33744080.0
95          EE         2013     24110.0
106         EL         2013         NaN
117         ES         2013    237192.0
128  EU27_2020         2013  34352649.0
139         FI         2013    112885.0
150         FR         2013    490659.0
161         HR         2013         NaN
172         HU         2013     64010.0
183         IE         2013     74900.0
194         IT         2013    468749.0
205         LT         2013     14699.0
216         LU         2013     62606.0
227         LV         2013         NaN
241         MT         2013      7673.0
252         NL         2013  25839912.0
262         NO         2013    154721.0
270         PL         2013    254702.0
281         PT         2013         NaN
292         RO         2013         NaN
312         SI         2013     22419.0
330         UK         2013   1788058.0

Year: 2014
           geo  TIME_PERIOD   OBS_VALUE
2           AT         2014    137987.0
13          BE         2014   1016920.0
23          BG         2014         NaN
31          CH         2014    212253.0
42          CY         2014         NaN
53          CZ         2014         NaN
64          DE         2014   4853948.0
75          DK         2014    213525.0
85        EA20         2014  32239738.0
96          EE         2014         NaN
107         EL         2014     15871.0
118         ES         2014    242599.0
129  EU27_2020         2014  32934187.0
140         FI         2014     89929.0
151         FR         2014    704619.0
162         HR         2014     44833.0
173         HU         2014     73595.0
184         IE         2014     90356.0
195         IT         2014         NaN
206         LT         2014     17020.0
217         LU         2014     75860.0
228         LV         2014         NaN
242         MT         2014      8393.0
253         NL         2014  24777935.0
263         NO         2014    120387.0
271         PL         2014    245819.0
282         PT         2014     35229.0
293         RO         2014         NaN
302         SE         2014    114239.0
313         SI         2014         NaN

Year: 2015
           geo  TIME_PERIOD   OBS_VALUE
3           AT         2015    148699.0
14          BE         2015    974047.0
32          CH         2015    244033.0
43          CY         2015         NaN
54          CZ         2015         NaN
65          DE         2015   4839178.0
76          DK         2015    239283.0
86        EA20         2015  31666368.0
97          EE         2015         NaN
108         EL         2015     13214.0
119         ES         2015    345952.0
130  EU27_2020         2015  32363612.0
141         FI         2015    117307.0
152         FR         2015    631279.0
163         HR         2015         NaN
174         HU         2015     96611.0
185         IE         2015    122039.0
196         IT         2015         NaN
207         LT         2015     16008.0
218         LU         2015     67910.0
229         LV         2015         NaN
243         MT         2015      8041.0
254         NL         2015  24156207.0
264         NO         2015    133238.0
272         PL         2015    177914.0
283         PT         2015     47325.0
294         RO         2015         NaN
303         SE         2015    157325.0
314         SI         2015         NaN

Year: 2016
           geo  TIME_PERIOD   OBS_VALUE
4           AT         2016    167951.0
15          BE         2016   1545383.0
33          CH         2016    195637.0
44          CY         2016         NaN
55          CZ         2016         NaN
66          DE         2016   6763021.0
77          DK         2016    213839.0
87        EA20         2016  34831371.0
98          EE         2016     30308.0
109         EL         2016     14511.0
120         ES         2016    302343.0
131  EU27_2020         2016  35527039.0
142         FI         2016    127201.0
153         FR         2016    672265.0
164         HR         2016         NaN
175         HU         2016    113888.0
186         IE         2016    145365.0
197         IT         2016         NaN
208         LT         2016     19419.0
219         LU         2016     76229.0
230         LV         2016         NaN
237         ME         2016         NaN
244         MT         2016     15439.0
255         NL         2016  24505045.0
265         NO         2016    159405.0
273         PL         2016    191639.0
284         PT         2016     24610.0
295         RO         2016         NaN
304         SE         2016    144177.0
315         SI         2016         NaN
322         SK         2016         NaN

Year: 2017
           geo  TIME_PERIOD   OBS_VALUE
5           AT         2017    140585.0
16          BE         2017   1363280.0
24          BG         2017         NaN
34          CH         2017    354807.0
45          CY         2017         NaN
56          CZ         2017         NaN
67          DE         2017   5672860.0
78          DK         2017    252347.0
88        EA20         2017  33636676.0
99          EE         2017     33969.0
110         EL         2017     23632.0
121         ES         2017    355243.0
132  EU27_2020         2017  34639779.0
143         FI         2017    143540.0
154         FR         2017    759678.0
165         HR         2017     31768.0
176         HU         2017    132832.0
187         IE         2017    222756.0
198         IT         2017         NaN
209         LT         2017     23534.0
220         LU         2017    107312.0
231         LV         2017         NaN
238         ME         2017         NaN
245         MT         2017     16672.0
256         NL         2017  24289009.0
266         NO         2017    157661.0
274         PL         2017    216325.0
285         PT         2017     42021.0
305         SE         2017    355357.0
316         SI         2017         NaN
323         SK         2017         NaN

Year: 2018
           geo  TIME_PERIOD   OBS_VALUE
6           AT         2018    221582.0
17          BE         2018   1288734.0
25          BG         2018         NaN
35          CH         2018    386905.0
46          CY         2018         NaN
57          CZ         2018         NaN
68          DE         2018   7413347.0
79          DK         2018    153813.0
89        EA20         2018  34641895.0
100         EE         2018         NaN
111         EL         2018     21842.0
122         ES         2018    407788.0
133  EU27_2020         2018  35796208.0
144         FI         2018    133114.0
155         FR         2018    644254.0
166         HR         2018     25944.0
177         HU         2018    144785.0
188         IE         2018    194915.0
199         IT         2018    484239.0
210         LT         2018     32883.0
221         LU         2018    113213.0
232         LV         2018         NaN
246         MT         2018     18690.0
257         NL         2018  23455768.0
267         NO         2018    171734.0
275         PL         2018    233349.0
286         PT         2018     66550.0
296         RO         2018         NaN
301         RS         2018         NaN
306         SE         2018    541792.0
317         SI         2018     25198.0
324         SK         2018         NaN

Year: 2019
           geo  TIME_PERIOD   OBS_VALUE
7           AT         2019    197436.0
18          BE         2019   1606449.0
26          BG         2019         NaN
36          CH         2019    218537.0
47          CY         2019     46762.0
58          CZ         2019         NaN
69          DE         2019   7090968.0
80          DK         2019    238547.0
90        EA20         2019  36060430.0
101         EE         2019     25414.0
112         EL         2019     48959.0
123         ES         2019    429043.0
134  EU27_2020         2019  37025510.0
145         FI         2019    140198.0
156         FR         2019    915086.0
167         HR         2019     37543.0
178         HU         2019    122442.0
189         IE         2019    192810.0
200         IT         2019    510998.0
211         LT         2019     42007.0
222         LU         2019    130146.0
233         LV         2019         NaN
239         MK         2019         NaN
247         MT         2019     22745.0
258         NL         2019  24476490.0
276         PL         2019    252010.0
287         PT         2019     51680.0
297         RO         2019         NaN
307         SE         2019    288506.0
318         SI         2019         NaN
325         SK         2019         NaN

Year: 2020
           geo  TIME_PERIOD   OBS_VALUE
8           AT         2020     52493.0
19          BE         2020    641656.0
27          BG         2020         NaN
37          CH         2020         NaN
48          CY         2020         NaN
59          CZ         2020         NaN
70          DE         2020   4081705.0
81          DK         2020         NaN
91        EA20         2020  26195249.0
102         EE         2020         NaN
113         EL         2020         NaN
124         ES         2020     96678.0
135  EU27_2020         2020  26484320.0
146         FI         2020         NaN
157         FR         2020    248254.0
168         HR         2020         NaN
179         HU         2020     40194.0
190         IE         2020     55601.0
201         IT         2020         NaN
212         LT         2020     14655.0
223         LU         2020     79941.0
234         LV         2020         NaN
248         MT         2020         NaN
259         NL         2020  20773689.0
277         PL         2020    162298.0
288         PT         2020     18228.0
298         RO         2020         NaN
308         SE         2020         NaN
326         SK         2020         NaN

Year: 2021
           geo  TIME_PERIOD   OBS_VALUE
9           AT         2021     70759.0
20          BE         2021    696757.0
38          CH         2021         NaN
49          CY         2021         NaN
60          CZ         2021         NaN
71          DE         2021   3459498.0
82          DK         2021         NaN
92        EA20         2021  35953783.0
103         EE         2021         NaN
114         EL         2021         NaN
125         ES         2021     94451.0
136  EU27_2020         2021  36329188.0
147         FI         2021         NaN
158         FR         2021    271080.0
169         HR         2021         NaN
180         HU         2021     28461.0
191         IE         2021         NaN
202         IT         2021         NaN
213         LT         2021     12683.0
224         LU         2021     93177.0
235         LV         2021         NaN
249         MT         2021      6357.0
260         NL         2021  31080303.0
268         NO         2021         NaN
278         PL         2021    166941.0
289         PT         2021     24392.0
299         RO         2021         NaN
309         SE         2021         NaN
319         SI         2021     15951.0
327         SK         2021         NaN

Year: 2022
           geo  TIME_PERIOD   OBS_VALUE
10          AT         2022    127586.0
21          BE         2022   1405839.0
28          BG         2022         NaN
39          CH         2022    220368.0
50          CY         2022         NaN
61          CZ         2022         NaN
72          DE         2022   5783068.0
93        EA20         2022  30734023.0
104         EE         2022         NaN
115         EL         2022     16346.0
126         ES         2022    220652.0
137  EU27_2020         2022  31460512.0
148         FI         2022    152586.0
159         FR         2022    800789.0
170         HR         2022         NaN
181         HU         2022    142700.0
192         IE         2022    212034.0
203         IT         2022         NaN
214         LT         2022     45491.0
225         LU         2022    122881.0
236         LV         2022         NaN
250         MT         2022      9428.0
261         NL         2022  21489855.0
279         PL         2022    238774.0
290         PT         2022     70718.0
300         RO         2022         NaN
310         SE         2022         NaN
320         SI         2022     19946.0
328         SK         2022         NaN

In [4]:
import pandas as pd

# File paths to the CSV files
file_path_from = r'C:\Users\omniq\Documents\GitHub\TIL6022-LabAssignments\Flytax-Project-Group24\CO2-effect\Data\Total Netherlands\fromNETHERLANDStin00190__custom_13279142_linear.csv'
file_path_to = r'C:\Users\omniq\Documents\GitHub\TIL6022-LabAssignments\Flytax-Project-Group24\CO2-effect\Data\Total Netherlands\toNETHERLANDStin00190__custom_13278956_linear.csv'

# Load both CSV files
df_from = pd.read_csv(file_path_from)
df_to = pd.read_csv(file_path_to)

# Create filtered dataframes with the relevant columns
filtered_df_from = df_from[['c_dest', 'TIME_PERIOD', 'OBS_VALUE']].rename(columns={'c_dest': 'Location', 'OBS_VALUE': 'Passengers From'})
filtered_df_to = df_to[['geo', 'TIME_PERIOD', 'OBS_VALUE']].rename(columns={'geo': 'Location', 'OBS_VALUE': 'Passengers To'})

# Group by 'TIME_PERIOD' and 'Location' for both datasets and sum the 'OBS_VALUE'
grouped_sum_df_from = filtered_df_from.groupby(['TIME_PERIOD', 'Location']).agg({'Passengers From': 'sum'}).reset_index()
grouped_sum_df_to = filtered_df_to.groupby(['TIME_PERIOD', 'Location']).agg({'Passengers To': 'sum'}).reset_index()

# Merge the two datasets based on 'TIME_PERIOD' and 'Location'
merged_df = pd.merge(grouped_sum_df_from, grouped_sum_df_to, on=['TIME_PERIOD', 'Location'], how='outer')

# Fill NaN values with 0 for missing data in either dataset
merged_df['Passengers From'] = merged_df['Passengers From'].fillna(0)
merged_df['Passengers To'] = merged_df['Passengers To'].fillna(0)

# Calculate the total passengers by summing the two columns
merged_df['Total Passengers'] = merged_df['Passengers From'] + merged_df['Passengers To']

# Display the merged dataframe showing passengers per year and location
print("Summed passengers per year and location (From and To Netherlands):")
print(merged_df)

# Filter the merged dataset for the year 2022
merged_df_2022 = merged_df[merged_df['TIME_PERIOD'] == 2022]

# Display the filtered dataframe for 2022
print("Passengers for the year 2022:")
print(merged_df_2022)

Summed passengers per year and location (From and To Netherlands):
     TIME_PERIOD Location  Passengers From  Passengers To  Total Passengers
0           2012       AT        1113836.0       111291.0         1225127.0
1           2012       BE        1604664.0       874786.0         2479450.0
2           2012       BG              0.0            0.0               0.0
3           2012       CH         253622.0       181744.0          435366.0
4           2012       CY              0.0         9403.0            9403.0
..           ...      ...              ...            ...               ...
395         2022       SI          74887.0        19946.0           94833.0
396         2022       SK              0.0            0.0               0.0
397         2022       TR         422706.0            0.0          422706.0
398         2022       UA              0.0            0.0               0.0
399         2022       UK        1143902.0            0.0         1143902.0

[400 rows x 5 columns]
Passengers for the year 2022:
     TIME_PERIOD   Location  Passengers From  Passengers To  Total Passengers
364         2022         AT        1357259.0       127586.0         1484845.0
365         2022         BE        2340634.0      1405839.0         3746473.0
366         2022         BG          68380.0            0.0           68380.0
367         2022         CH         478398.0       220368.0          698766.0
368         2022         CY          43152.0            0.0           43152.0
369         2022         CZ         282784.0            0.0          282784.0
370         2022         DE        3566449.0      5783068.0         9349517.0
371         2022         DK         327702.0            0.0          327702.0
372         2022       EA20              0.0     30734023.0        30734023.0
373         2022         EE              0.0            0.0               0.0
374         2022         EL         834280.0        16346.0          850626.0
375         2022         ES        2460252.0       220652.0         2680904.0
376         2022  EU27_2020              0.0     31460512.0        31460512.0
377         2022         FI          74949.0       152586.0          227535.0
378         2022         FR        3250280.0       800789.0         4051069.0
379         2022         HR         288739.0            0.0          288739.0
380         2022         HU         132997.0       142700.0          275697.0
381         2022         IE         149974.0       212034.0          362008.0
382         2022         IS         115757.0            0.0          115757.0
383         2022         IT        1639017.0            0.0         1639017.0
384         2022         LT              0.0        45491.0           45491.0
385         2022         LU         215173.0       122881.0          338054.0
386         2022         LV              0.0            0.0               0.0
387         2022         MT          36549.0         9428.0           45977.0
388         2022         NL       21489855.0     21489855.0        42979710.0
389         2022         NO         321745.0            0.0          321745.0
390         2022         PL         181039.0       238774.0          419813.0
391         2022         PT         605943.0        70718.0          676661.0
392         2022         RO          62330.0            0.0           62330.0
393         2022         RU              0.0            0.0               0.0
394         2022         SE         225941.0            0.0          225941.0
395         2022         SI          74887.0        19946.0           94833.0
396         2022         SK              0.0            0.0               0.0
397         2022         TR         422706.0            0.0          422706.0
398         2022         UA              0.0            0.0               0.0
399         2022         UK        1143902.0            0.0         1143902.0